body.loginBackground {
	padding-top: 0;
	text-align: center;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
}

.welcome {
	display: inline-block;
	position: relative;
    margin-top: 10%;
    padding: 1%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 15px;
}

.welcome h1 {
	font-size: 85px;
}

@-webkit-keyframes show {
    from {
        -webkit-transform: translate3d(0%,30%,0px);
    }
    to  {
        -webkit-transform: translate3d(0%,0%,0px);
    }
}

@keyframes show {
    from {
        transform: translate3d(0%,30%,0px);
    }
    to  {
        transform: translate3d(0%,0%,0px);
    }
}

div.welcome[status='show'] {
    display: inline-block;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-duration: 0.60s;
    animation-duration: 0.60s;
}

div.welcome[status='hide'] {
    display: none;
}

.formBox {
	width:350px;
    margin:0 auto;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.brand {
    position: relative;
}

.brand img {
    position: absolute;
    top: 7px;
    right: 125px;
    height: 35px;
}

#retos-pendientes{
	margin-bottom:10px;
}
.ok-cancel-cell{
	width: 50px;
}

.cancel-cell-center{
    text-align: center;
}

.nueve-sesenta{
	max-width: 960px;
}

.cancel-cell-disabled{
    opacity: 0.45;
}

.col-centered{
    text-align: center;
}

.right-text{
    text-align: right;
}

#jugar-contenido-interactivo{
    display: none;
}